body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  width: 100vw;
  height: 95vh;
}

.leaflet-sidebar-header {
  font-size: 1.3em;
  margin: 0.5em 0;
}

.filter-group {
  margin-bottom: 15px;
}

.legend-section {
  margin-bottom: 10px;
}

.legend-color {
  display:inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 6px;
  border: 1px solid #444;
}

.red { background-color: #d32f2f; }
.orange { background-color: #f57c00; }
.yellow { background-color: #fbc02d; }
.lightgreen { background-color: #aed581; }
.darkgreen { background-color: #388e3c; }

.custom-marker {
  border: 2px solid white;
  box-sizing: border-box;
  width: 18px; /* Réduction de la taille */
  height: 18px;
}

.custom-marker.circle {
  border-radius: 50%;
}

.custom-marker.square {
  /* carré */
}

.custom-marker.diamond {
  transform: rotate(45deg);
  margin-bottom: 6px;
  display: inline-block;
}
